{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center">Register</h2>
  <div class="row justify-content-center align-items-center" style="height: 30vh;">
    <div class="col-md-6 col-lg-4">
      <form method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
          <input type="email" name="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
          <label for="floatingEmail">Email address</label>
          {% if form.email.errors %}
            <div class="text-danger">{{ form.email.errors }}</div>
          {% endif %}
        </div>
        <div class="form-floating mb-3">
          <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
          {% if form.password.errors %}
            <div class="text-danger">{{ form.password.errors }}</div>
          {% endif %}
        </div>
        <div class="form-floating mb-3">
          <input type="password" name="password2" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password">
          <label for="floatingConfirmPassword">Confirm Password</label>
          {% if form.password2.errors %}
            <div class="text-danger">{{ form.password2.errors }}</div>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary w-100">Register</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

